
div#banner{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#navigationBar{
    height:80px;
    border-radius: 20px;
    font-size: 170%;
    font-family: cursive;
    font-style: oblique;
}

#userNavigationBar{
    height:60px;
    border-radius: 10px;
    font-size: 110%;
    font-family: cursive;
    font-style: oblique;
}

div#slideShow{
    padding: 20px;
}

img.slideImages{
    border-radius: 10px;
    height: 500px;
}

div#products{
    height: fit-content;
    
}

div#filterArea{
    padding: 20px;
    
}

div#getInTouch{
    padding: 20px;
    height: 300px;
    font-family: cursive;
}

div#feedbackMessage{
    font-size:55%;
}

div#userFeedbackMessage{
    font-size:80%;
}


div#contentArea{
    padding:20px;
}

.form_mandatory{
    color:darkred;
}

.deco1{
    color:darkgreen
}

.imgviewdsplay{
    width:300px;
    height:170px;
    margin-left:5px;
    float:left;
    padding-right: 10px;
    border-radius: 30%
}

.crpdsply{
    padding: 10px;
    font-family: cursive
}

#kilimocrops{
    
}

.activeLMenu{
    color:whitesmoke;
    font-weight: bold;
    font-size:110%;
    text-transform: uppercase;
}

.activeLink{
    color:darkgreen;
    font-style: italic;
    text-decoration: underline;
}

#pageTitle{
    color:darkred;
    text-transform: capitalize;
    text-decoration: underline;
    font-family:cursive;
    
}

#pageBody{
    font-family:cursive;
    
}
